* { 
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/*Header CSS*/
header nav > * {
    float: left;
    width: 22%;
    margin: 0 2%;
    margin-top: 10px;
    list-style: none;
    color: #1965f2;
    font-weight: 800;
}

header nav ul li {
    width: 33%;
    float: left;
    font-size: 12px;
}

nav {
    border-bottom: solid 2px lightgrey;
    height: 50px;
}

.khanLogo {
    width: 10%;
    margin-right: 150px;
}

section {
    float: left;
    width: 50%
}

.courseDropDown {
    padding-left: 200px;
}

/*Main CSS*/
h1 {
    margin-top: 80px;
    width: 300px;
    font-size: 34px;
    font-weight: 200;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section > img {
    float: right;
}

button {
    background-color: #1965f2;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

section + section {
    width: 320px;
    padding-left: 10px;
}

p {
    font-size: 13px;
    padding-bottom: 15px;
}

.sectionTwo {
    width: 100%;
    margin-top: 450px;
    background-color: #f7f5f4;
    height: 400px;
    position: absolute;
    transform: rotate(2deg);
}

h3{
    text-align: center;
    font-weight: 200;
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: rotate(-2deg);
    padding-top: 20px;
}